Social_Media_Campaign_Workflow.json
{
  "name": "Marvice - Lead Gen & Engagement Campaign (AI, Marketing, Web Dev, Gifting)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0,
              "field": "cronExpression",
              "expression": "0 8 * * 1,2,3,4,5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Campaign Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300],
      "notes": "Triggers every weekday (Mon-Fri) at 8:00 AM. Covers all content niches across the week."
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 520],
      "notes": "Use this to manually trigger the campaign workflow on demand."
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trends/api/dailytrends?hl=en-US&tz=-480&geo=US&hs=2&i=15&ns=15",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-google-trends",
      "name": "Fetch Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 140],
      "notes": "Fetches daily trending topics from Google Trends. General trends feed."
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence+AI+updates+2026&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-ai-news",
      "name": "Fetch AI & Tech News (RSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "notes": "Fetches latest AI news, updates, tools, and breakthroughs from Google News RSS."
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=digital+marketing+trends+SEO+social+media+marketing&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-marketing-news",
      "name": "Fetch Digital Marketing News (RSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 460],
      "notes": "Fetches latest digital marketing, SEO, social media marketing, and advertising trends."
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=web+development+frontend+backend+javascript+react&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-webdev-news",
      "name": "Fetch Web Development News (RSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 620],
      "notes": "Fetches latest web development, frontend, backend, JavaScript, React, and coding trends."
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=corporate+gifting+business+gifts+employee+engagement&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-gifting-news",
      "name": "Fetch Corporate Gifting News (RSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 780],
      "notes": "Fetches latest corporate gifting, business gifts, employee engagement, and promotional product trends."
    },
    {
      "parameters": {
        "jsCode": "// Aggregate and parse all content sources into a unified trending topics list\nconst allInputs = $input.all();\nconst allTopics = [];\n\nconst categories = ['google_trends', 'ai_tech', 'digital_marketing', 'web_development', 'corporate_gifting'];\nconst categoryLabels = {\n  'google_trends': 'General Trends',\n  'ai_tech': 'AI & Technology',\n  'digital_marketing': 'Digital Marketing',\n  'web_development': 'Web Development',\n  'corporate_gifting': 'Corporate Gifting'\n};\n\nfor (let i = 0; i < allInputs.length; i++) {\n  const rawData = allInputs[i].json.data || allInputs[i].json.body || '';\n  let text = typeof rawData === 'string' ? rawData : JSON.stringify(rawData);\n  const category = categories[i] || 'general';\n  \n  if (category === 'google_trends') {\n    // Parse Google Trends JSON\n    if (text.startsWith(')]}')) text = text.substring(5);\n    try {\n      const parsed = JSON.parse(text);\n      const days = parsed?.default?.trendingSearchesDays || [];\n      for (const day of days) {\n        for (const trend of (day.trendingSearches || []).slice(0, 3)) {\n          allTopics.push({\n            title: trend.title?.query || '',\n            snippet: trend.articles?.[0]?.snippet || '',\n            source: trend.articles?.[0]?.source || 'Google Trends',\n            category: categoryLabels[category],\n            traffic: trend.formattedTraffic || ''\n          });\n        }\n      }\n    } catch(e) {}\n  } else {\n    // Parse RSS XML from Google News\n    const itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\n    let match;\n    let count = 0;\n    while ((match = itemRegex.exec(text)) !== null && count < 3) {\n      const itemXml = match[1];\n      const titleMatch = itemXml.match(/<title><!\\[CDATA\\[(.+?)\\]\\]><\\/title>/) || itemXml.match(/<title>(.+?)<\\/title>/);\n      const descMatch = itemXml.match(/<description><!\\[CDATA\\[(.+?)\\]\\]><\\/description>/) || itemXml.match(/<description>(.+?)<\\/description>/);\n      const sourceMatch = itemXml.match(/<source[^>]*>(.+?)<\\/source>/);\n      const pubDateMatch = itemXml.match(/<pubDate>(.+?)<\\/pubDate>/);\n      \n      if (titleMatch) {\n        allTopics.push({\n          title: titleMatch[1].replace(/<[^>]+>/g, '').trim(),\n          snippet: descMatch ? descMatch[1].replace(/<[^>]+>/g, '').trim().substring(0, 200) : '',\n          source: sourceMatch ? sourceMatch[1] : 'Google News',\n          category: categoryLabels[category],\n          pubDate: pubDateMatch ? pubDateMatch[1] : ''\n        });\n        count++;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    trends: allTopics.slice(0, 15),\n    categories_covered: Object.values(categoryLabels),\n    fetchedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-trends",
      "name": "Aggregate Multi-Niche Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 460],
      "notes": "Aggregates trending topics from all 5 sources (Google Trends + 4 niche RSS feeds) into a unified list with categories: AI & Tech, Digital Marketing, Web Development, Corporate Gifting."
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the lead-generation strategist for MARVICE, a company that provides services in AI & Technology solutions, Digital Marketing & SEO, Web Development, and Corporate Gifting. Your goal is to select trending topics that will: (1) position Marvice as a thought leader, (2) drive maximum engagement (likes, comments, shares, saves), and (3) generate inbound leads for Marvice services. Analyze the given trending topics and select the ONE topic that has the highest lead-gen and engagement potential for Marvice. Rotate between niches for variety. Return a JSON object with: selected_topic, content_niche (one of: AI & Technology, Digital Marketing, Web Development, Corporate Gifting, Marketing Updates), why_trending, target_audience, campaign_angle (frame it so Marvice appears as the expert/solution provider), hashtags (array of 10 niche-specific hashtags plus #Marvice), mood_keywords (array of 5 words describing the visual mood for poster design), key_takeaway (one sentence insight), and lead_hook (a compelling reason why the audience should contact Marvice or visit Marvice page after reading this post).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these trending topics from multiple niches and pick the best one for today's social media campaign. Categories covered: {{ JSON.stringify($json.categories_covered) }}. Topics: {{ JSON.stringify($json.trends) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ai-trend-analysis",
      "name": "AI Trend Analysis (Perplexity)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "notes": "Uses Perplexity AI to analyze trending topics and select the best one for a campaign. Requires Perplexity API key in HTTP Header Auth credential (Authorization: Bearer pplx-xxx)."
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI analysis response\nconst response = $input.first().json;\nlet analysisText = '';\n\nif (response.choices && response.choices[0]) {\n  analysisText = response.choices[0].message?.content || '';\n} else if (response.body) {\n  analysisText = typeof response.body === 'string' ? response.body : JSON.stringify(response.body);\n}\n\nlet analysis = {};\n\ntry {\n  // Extract JSON from the response\n  const jsonMatch = analysisText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  analysis = {\n    selected_topic: 'AI-Powered Digital Marketing Strategies for 2026',\n    content_niche: 'Digital Marketing',\n    why_trending: 'AI tools are transforming how businesses run marketing campaigns',\n    target_audience: 'Business owners, startups, marketers, and decision-makers looking for growth',\n    campaign_angle: 'Marvice reveals how AI is reshaping digital marketing ROI in 2026',\n    hashtags: ['#Marvice', '#DigitalMarketing', '#AIMarketing', '#MarketingTrends', '#SEO2026', '#ContentMarketing', '#SocialMediaMarketing', '#GrowthHacking', '#MarketingStrategy', '#BusinessGrowth'],\n    mood_keywords: ['professional', 'vibrant', 'data-driven', 'modern', 'trustworthy'],\n    key_takeaway: 'AI-powered marketing tools are delivering 3x better engagement rates compared to traditional methods',\n    lead_hook: 'Want Marvice to build your AI-powered marketing strategy? DM us or visit our page for a free consultation'\n  };\n}\n\nreturn [{\n  json: {\n    ...analysis,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-analysis",
      "name": "Parse AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300],
      "notes": "Extracts structured campaign data from the AI analysis response."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0.8,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the official social media content creator for MARVICE — a company offering AI & Technology solutions, Digital Marketing & SEO services, Web Development, and Corporate Gifting. Every post must: (1) Position Marvice as the go-to expert in the niche, (2) Provide genuine value that makes people save/share the post, (3) End with a clear lead-generation CTA driving people to contact Marvice or visit the Marvice page. BRAND VOICE: Confident, knowledgeable, approachable, results-driven. Always mention 'Marvice' naturally 1-2 times per post. Return a JSON object with keys: linkedin_post (thought-leadership tone, 200-300 words, start with a bold hook or surprising stat, include 3 actionable bullet points, end with CTA like 'Follow Marvice for daily insights' or 'DM us to discuss your project', include line breaks for readability), instagram_caption (scroll-stopping first line as hook, engaging with relevant emojis, 150 words max, include value-packed tips, end with strong CTA: 'Save this for later', 'Follow @marvice for more', 'Link in bio for free consultation', include hashtags at end), facebook_post (conversational and shareable, 150-200 words, start with a question or relatable pain point, provide the insight, end with engagement question + Marvice CTA like 'Comment GROWTH if you want us to audit your strategy for free'), pinterest_description (SEO-rich, 100 words max, include keywords like 'Marvice', niche terms, 'tips', 'strategy', 'guide', 'how to', for maximum Pinterest search discoverability), poster_prompt (DALL-E prompt for a professional, modern campaign poster for brand Marvice - use clean corporate design, brand-friendly colors like deep blue, white, and accent gold/orange, modern sans-serif typography feel, relevant niche icons/illustrations, professional business aesthetic, NO text on the image as text will be overlaid separately).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create Marvice-branded social media campaign content for:\\nBrand: MARVICE\\nContent Niche: {{ $json.content_niche }}\\nTopic: {{ $json.selected_topic }}\\nKey Takeaway: {{ $json.key_takeaway }}\\nLead Hook: {{ $json.lead_hook }}\\nAngle: {{ $json.campaign_angle }}\\nTarget Audience: {{ $json.target_audience }}\\nHashtags: {{ JSON.stringify($json.hashtags) }}\\nMood: {{ JSON.stringify($json.mood_keywords) }}\\nWhy Trending: {{ $json.why_trending }}\\n\\nREMEMBER: Every post must naturally mention Marvice and end with a lead-gen CTA that drives DMs, follows, or page visits.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "generate-content",
      "name": "Generate Platform Content (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300],
      "notes": "Generates tailored content for each social media platform plus a DALL-E prompt for poster design. Uses HTTP Request to call OpenAI API directly. Create an HTTP Header Auth credential with Name: Authorization, Value: Bearer sk-your-openai-key."
    },
    {
      "parameters": {
        "jsCode": "// Parse the generated content\nconst response = $input.first().json;\nlet contentText = '';\n\nif (response.choices && response.choices[0]) {\n  contentText = response.choices[0].message?.content || '';\n} else if (response.message?.content) {\n  contentText = response.message.content;\n}\n\nlet content = {};\ntry {\n  const jsonMatch = contentText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    content = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  content = {\n    linkedin_post: contentText,\n    instagram_caption: contentText.substring(0, 500),\n    facebook_post: contentText.substring(0, 600),\n    pinterest_description: contentText.substring(0, 300),\n    poster_prompt: 'A modern, professional social media campaign poster with bold typography, gradient background in blue and purple tones, featuring abstract geometric shapes and clean design elements.'\n  };\n}\n\nreturn [{ json: content }];"
      },
      "id": "parse-content",
      "name": "Parse Generated Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300],
      "notes": "Extracts platform-specific content and poster prompt from the AI response."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.poster_prompt }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"quality\": \"hd\",\n  \"style\": \"vivid\"\n}",
        "options": {}
      },
      "id": "generate-poster",
      "name": "Design Poster (DALL-E 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 100],
      "notes": "Generates a campaign poster using DALL-E 3 via direct HTTP Request to OpenAI Images API. Output is 1024x1024 HD quality. Uses same HTTP Header Auth credential as the content generation node (Authorization: Bearer sk-your-openai-key)."
    },
    {
      "parameters": {
        "jsCode": "// Extract poster URL and prepare for upload\nconst posterData = $input.first().json;\nlet imageUrl = '';\n\nif (posterData.data && posterData.data[0]) {\n  imageUrl = posterData.data[0].url || '';\n} else if (posterData.url) {\n  imageUrl = posterData.url;\n}\n\n// Get content from previous node\nconst content = $('Parse Generated Content').first().json;\n\nreturn [{\n  json: {\n    imageUrl: imageUrl,\n    linkedin_post: content.linkedin_post || '',\n    instagram_caption: content.instagram_caption || '',\n    facebook_post: content.facebook_post || '',\n    pinterest_description: content.pinterest_description || '',\n    poster_prompt: content.poster_prompt || '',\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-poster-data",
      "name": "Prepare Poster & Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 100],
      "notes": "Combines poster URL with platform content for downstream posting nodes."
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-poster",
      "name": "Download Poster Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 100],
      "notes": "Downloads the generated poster image as binary data for uploading to social platforms."
    },
    {
      "parameters": {
        "url": "https://api.imgbb.com/1/upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.IMGBB_API_KEY }}"
            },
            {
              "name": "image",
              "value": "={{ $binary.data.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-to-imgbb",
      "name": "Upload to ImgBB (Image Host)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 100],
      "notes": "Uploads the poster to ImgBB for a persistent URL. Required for platforms that need a public image URL. Set IMGBB_API_KEY environment variable."
    },
    {
      "parameters": {
        "jsCode": "// Prepare hosted image URL for all platforms\nconst imgbbResponse = $input.first().json;\nconst hostedImageUrl = imgbbResponse?.data?.url || imgbbResponse?.data?.display_url || $('Prepare Poster & Content').first().json.imageUrl;\nconst content = $('Prepare Poster & Content').first().json;\n\nreturn [{\n  json: {\n    imageUrl: hostedImageUrl,\n    linkedin_post: content.linkedin_post,\n    instagram_caption: content.instagram_caption,\n    facebook_post: content.facebook_post,\n    pinterest_description: content.pinterest_description,\n    generatedAt: content.generatedAt\n  }\n}];"
      },
      "id": "prepare-for-posting",
      "name": "Prepare for Multi-Platform Posting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, 100],
      "notes": "Combines hosted image URL with all platform content for parallel posting."
    },
    {
      "parameters": {
        "postAs": "person",
        "text": "={{ $json.linkedin_post }}",
        "shareMediaCategory": "IMAGE",
        "mediaUrl": "={{ $json.imageUrl }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "id": "post-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [2960, -100],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn OAuth2"
        }
      },
      "notes": "Posts to LinkedIn with the campaign poster and professional content. Requires LinkedIn OAuth2 credentials with w_member_social scope."
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.imageUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.instagram_caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-instagram-container",
      "name": "Create Instagram Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2960, 80],
      "notes": "Step 1 of Instagram posting: Creates a media container via the Instagram Graph API. Requires a Facebook/Instagram Business account and access token."
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "publish-instagram",
      "name": "Publish to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, 80],
      "notes": "Step 2 of Instagram posting: Publishes the media container to Instagram."
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $env.FACEBOOK_PAGE_ID }}/photos",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Prepare for Multi-Platform Posting').first().json.imageUrl }}"
            },
            {
              "name": "message",
              "value": "={{ $('Prepare for Multi-Platform Posting').first().json.facebook_post }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "post-facebook",
      "name": "Post to Facebook Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2960, 260],
      "notes": "Posts the campaign poster and content to a Facebook Page. Requires Facebook Page access token with pages_manage_posts permission."
    },
    {
      "parameters": {
        "url": "https://api.pinterest.com/v5/pins",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_id\": \"{{ $env.PINTEREST_BOARD_ID }}\",\n  \"media_source\": {\n    \"source_type\": \"image_url\",\n    \"url\": \"{{ $('Prepare for Multi-Platform Posting').first().json.imageUrl }}\"\n  },\n  \"title\": \"Marvice | {{ $('Parse AI Analysis').first().json.selected_topic }}\",\n  \"description\": \"{{ $('Prepare for Multi-Platform Posting').first().json.pinterest_description }}\",\n  \"alt_text\": \"Marvice campaign poster - {{ $('Parse AI Analysis').first().json.selected_topic }}\"\n}",
        "options": {}
      },
      "id": "post-pinterest",
      "name": "Post to Pinterest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2960, 440],
      "notes": "Creates a Pin on Pinterest with the campaign poster. Requires Pinterest API access token and board ID. Set PINTEREST_BOARD_ID env variable."
    },
    {
      "parameters": {
        "jsCode": "// Collect results from all platform postings\nconst results = {\n  campaign_summary: {\n    brand: 'Marvice',\n    topic: $('Parse AI Analysis').first().json.selected_topic || 'N/A',\n    content_niche: $('Parse AI Analysis').first().json.content_niche || 'General',\n    campaign_angle: $('Parse AI Analysis').first().json.campaign_angle || 'N/A',\n    key_takeaway: $('Parse AI Analysis').first().json.key_takeaway || '',\n    lead_hook: $('Parse AI Analysis').first().json.lead_hook || '',\n    poster_generated: true,\n    platforms_posted: ['LinkedIn', 'Instagram', 'Facebook', 'Pinterest'],\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn [{ json: results }];"
      },
      "id": "campaign-summary",
      "name": "Campaign Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3440, 260],
      "notes": "Aggregates results from all platform postings into a campaign summary."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "spreadsheetId",
              "value": "={{ $env.CAMPAIGN_LOG_SPREADSHEET_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-sheet-id",
      "name": "Set Google Sheet ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3660, 260],
      "notes": "Sets the Google Sheets spreadsheet ID for campaign logging. Set CAMPAIGN_LOG_SPREADSHEET_ID env variable."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $json.spreadsheetId }}",
        "sheetName": "Campaign Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Campaign Summary').first().json.campaign_summary.timestamp }}",
            "Brand": "Marvice",
            "Content Niche": "={{ $('Campaign Summary').first().json.campaign_summary.content_niche }}",
            "Topic": "={{ $('Campaign Summary').first().json.campaign_summary.topic }}",
            "Campaign Angle": "={{ $('Campaign Summary').first().json.campaign_summary.campaign_angle }}",
            "Key Takeaway": "={{ $('Campaign Summary').first().json.campaign_summary.key_takeaway }}",
            "Lead Hook / CTA": "={{ $('Campaign Summary').first().json.campaign_summary.lead_hook }}",
            "Platforms": "={{ $('Campaign Summary').first().json.campaign_summary.platforms_posted.join(', ') }}",
            "Poster URL": "={{ $('Prepare for Multi-Platform Posting').first().json.imageUrl }}",
            "Status": "Published",
            "Leads Generated": "0"
          }
        },
        "options": {}
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3880, 260],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Logs Marvice campaign details for lead tracking. Create a sheet with columns: Date, Brand, Content Niche, Topic, Campaign Angle, Key Takeaway, Lead Hook / CTA, Platforms, Poster URL, Status, Leads Generated."
    },
    {
      "parameters": {
        "url": "=https://hooks.slack.com/services/{{ $env.SLACK_WEBHOOK_PATH }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"MARVICE Campaign Published!\\n---\\nNiche: {{ $('Campaign Summary').first().json.campaign_summary.content_niche }}\\nTopic: {{ $('Campaign Summary').first().json.campaign_summary.topic }}\\nAngle: {{ $('Campaign Summary').first().json.campaign_summary.campaign_angle }}\\nKey Takeaway: {{ $('Campaign Summary').first().json.campaign_summary.key_takeaway }}\\nLead Hook: {{ $('Campaign Summary').first().json.campaign_summary.lead_hook }}\\nPlatforms: LinkedIn, Instagram, Facebook, Pinterest\\nPoster: {{ $('Prepare for Multi-Platform Posting').first().json.imageUrl }}\\n---\\nTrack leads in the Google Sheet!\"\n}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4100, 260],
      "notes": "Sends a Slack notification when the campaign is published. Optional - set SLACK_WEBHOOK_PATH env variable or remove this node."
    }
  ],
  "connections": {
    "Campaign Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Google Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch AI & Tech News (RSS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Digital Marketing News (RSS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Web Development News (RSS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Corporate Gifting News (RSS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Google Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch AI & Tech News (RSS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Digital Marketing News (RSS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Web Development News (RSS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Corporate Gifting News (RSS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Trends": {
      "main": [
        [
          {
            "node": "Aggregate Multi-Niche Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AI & Tech News (RSS)": {
      "main": [
        [
          {
            "node": "Aggregate Multi-Niche Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Digital Marketing News (RSS)": {
      "main": [
        [
          {
            "node": "Aggregate Multi-Niche Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Web Development News (RSS)": {
      "main": [
        [
          {
            "node": "Aggregate Multi-Niche Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Corporate Gifting News (RSS)": {
      "main": [
        [
          {
            "node": "Aggregate Multi-Niche Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Multi-Niche Trends": {
      "main": [
        [
          {
            "node": "AI Trend Analysis (Perplexity)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Trend Analysis (Perplexity)": {
      "main": [
        [
          {
            "node": "Parse AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis": {
      "main": [
        [
          {
            "node": "Generate Platform Content (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Platform Content (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Generated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Generated Content": {
      "main": [
        [
          {
            "node": "Design Poster (DALL-E 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Design Poster (DALL-E 3)": {
      "main": [
        [
          {
            "node": "Prepare Poster & Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Poster & Content": {
      "main": [
        [
          {
            "node": "Download Poster Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Poster Image": {
      "main": [
        [
          {
            "node": "Upload to ImgBB (Image Host)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ImgBB (Image Host)": {
      "main": [
        [
          {
            "node": "Prepare for Multi-Platform Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Multi-Platform Posting": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Instagram Media Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media Container": {
      "main": [
        [
          {
            "node": "Publish to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Campaign Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Instagram": {
      "main": [
        [
          {
            "node": "Campaign Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook Page": {
      "main": [
        [
          {
            "node": "Campaign Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Pinterest": {
      "main": [
        [
          {
            "node": "Campaign Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign Summary": {
      "main": [
        [
          {
            "node": "Set Google Sheet ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Google Sheet ID": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Slack Notification (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Social Media",
      "id": "1"
    },
    {
      "name": "Campaign Automation",
      "id": "2"
    },
    {
      "name": "AI & Technology",
      "id": "3"
    },
    {
      "name": "Digital Marketing",
      "id": "4"
    },
    {
      "name": "Web Development",
      "id": "5"
    },
    {
      "name": "Corporate Gifting",
      "id": "6"
    }
  ],
  "pinData": {}
}
